{% extends '::base.html.twig' %}

{% block body %}
	<p>{{ msg }}</p>
	<div id="liste_des_chiens">
		<div id="bouet_ul">
			<ul>
			{% for chien in chiens %}
				{% if chien.sexe =="M" %}
				<li>
					<div class="bouet">
						<div class="thumb">
							<a href="/uploads/{{ chien.img}}" rel="lightbox">
								<img src="/uploads/thumbs/{{ chien.thumb}}" alt="{{ chien.titre }}" title="{{ chien.titre }}" />
							</a>
						</div>
						<div class="details">
							<strong>{{ chien.titre }} {{ app.request.get('race') }}</strong>
							<p>{{ chien.nom }} </p>
							<p><img src="/bundles/patrickelevage/images/icon/male.png" /></p>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<div class="btn_modif"><a href="{{ path('elevage_modifier', {'id' : chien.idc }) }}">Modifier</a></div>
								<div class="btn_modif"><a href="{{ path('elevage_supprimer', {'id' : chien.idc }) }}">Supprimer</a></div>
							{% endif %}
						</div>
					</div>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
			<ul>
			{% for chien in chiens %}
				{% if chien.sexe == "F" %}
				<li>
					<div class="bouet">
						<div class="thumb">
							<a href="/uploads/{{ chien.img}}" rel="lightbox">
								<img src="/uploads/thumbs/{{ chien.thumb}}" alt="{{ chien.titre }}" title="{{ chien.titre }}" />
							</a>
						</div>
						<div class="details">
							<strong>{{ chien.titre }}</strong>
							<p>{{ chien.nom }} </p>
							<p><img src="/bundles/patrickelevage/images/icon/female.png" /></p>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<div class="btn_modif"><a href="{{ path('elevage_modifier', {'id' : chien.idc }) }}">Modifier</a></div>
								<div class="btn_modif"><a href="{{ path('elevage_supprimer', {'id' : chien.idc }) }}">Supprimer</a></div>
							{% endif %}
						</div>
					</div>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
	</div>
{% endblock body %}