<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Elevage Les Vigilants - Sartrouville 78500{% endblock %}</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        {% include '::css.html.twig' %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="document">
			<div id="header">
				<div id="banner">
					<div id="logo">
						<a href="{{ path('elevage_accueil') }}">
							<img src="{{ asset('bundles/patrickelevage/images/logo.gif') }}" alt="Elevage Les Vigilants" title="Elevage Les Vigilants" />
						</a>
					</div>
				</div>
			</div>
			<div id="nav">
				<ul id="menu">
					<li><a href="{{ path('elevage_accueil') }}">Accueil</a></li>
					<li><a href="{{ path('elevage_chiens', {'id' : 1 }) }}">Bergers du Caucase</a>
						<ul>
							<li><a href="#print">Mes Chiens</a></li>
							<li><a href="#web">Chiots</a></li>
							<li><a href="#marketing">Concours</a></li>
						</ul>
					</li>
					<li><a href="{{ path('elevage_chiens', {'id' : 2 }) }}">Bergers d'Asie Centrale</a>
						<ul>
							<li><a href="#print">Mes Chiens</a></li>
							<li><a href="#web">Chiots</a></li>
							<li><a href="#marketing">Concours</a></li>
						</ul>
					</li>
					<li><a href="#contact">Contactez nous</a></li>
				</ul>
			</div>
			{% block body %}{% endblock %}
		</div>

		<script type="text/javascript" src="{{ asset('bundles/patrickelevage/js/menu.js') }}"></script>
		<script type="text/javascript">
		$(function(){
			$("#menu").juizDropDownMenu({
				'showEffect' : 'fade',
				'hideEffect' : 'slide'
			});
		});
		</script>
    </body>
</html>
