<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Elevage Les Vigilants - Sartrouville 78500{% endblock %}</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/patrickelevage/js/lightbox.js') }}"></script>
		{% include '::css.html.twig' %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="document">
			<div id="header">
				<div id="banner">
					<div id="logo">
						<a href="{{ path('elevage_accueil') }}">
							<img src="{{ asset('bundles/patrickelevage/images/logo.gif') }}" alt="Elevage Les Vigilants" title="Elevage Les Vigilants" />
						</a>
					</div>
				</div>
			</div>
			<div id="nav">
				<ul id="menu">
					<li><a href="{{ path('elevage_accueil') }}">Accueil</a></li>
					<li><a href="{{ path('elevage_chiens', {'race' : 1, 'chiot' : 0 }) }}">Bergers du Caucase</a>
						<ul>
							<li><a href="{{ path('elevage_chiens', {'race' : 1, 'chiot' : 0 }) }}">Mes Chiens</a></li>
							<li><a href="{{ path('elevage_chiens', {'race' : 1, 'chiot' : 1 }) }}">Chiots</a></li>
							<li><a href="{{ path('elevage_concour_chiens', {'race' : 1}) }}">Concours</a></li>
						</ul>
					</li>
					<li><a href="{{ path('elevage_chiens', {'race' : 2, 'chiot' : 0 }) }}">Bergers d'Asie Centrale</a>
						<ul>
							<li><a href="{{ path('elevage_chiens', {'race' : 2, 'chiot' : 0 }) }}">Mes Chiens</a></li>
							<li><a href="{{ path('elevage_chiens', {'race' : 2, 'chiot' : 1 }) }}">Chiots</a></li>
							<li><a href="{{ path('elevage_concour_chiens', {'race' : 2}) }}">Concours</a></li>
						</ul>
					</li>
					<li><a href="{{ path('elevage_contact') }}">Contactez nous</a></li>
				</ul>
			</div>
			<div id="breadcrumb">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% include 'PatrickUtilisateurBundle::connexion.html.twig' %}
				{% endif %}
			</div>
			<div id="container">
				<div id="calque_marron">
					{% block body %}{% endblock %}
				</div>
			</div>
			<div id="footer"></div>
		</div>

		<script type="text/javascript" src="{{ asset('bundles/patrickelevage/js/menu.js') }}"></script>
		<script type="text/javascript">
		$(function(){
			$("#menu").juizDropDownMenu({
				'showEffect' : 'fade',
				'hideEffect' : 'slide'
			});
		});
		</script>
    </body>
</html>
