{% extends '::base.html.twig' %}

{% block body %}
	<p>{{ msg }}</p>
	<div id="liste_des_chiens">
		<div id="bouet_ul">
			<ul>
			{% for concour in concours %}
				<li>
					<div class="bouet">
						<div class="thumb">
							<a href="/uploads/{{ concour.img}}" rel="lightbox">
								<img src="/uploads/thumbs/{{ concour.thumb}}" alt="{{ concour.titre }}" title="{{ concour.titre }}" />
							</a>
						</div>
						<div class="details">
							<strong>{{ concour.titre }}</strong>
							<p>&nbsp;</p>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<div class="btn_modif_concours"><a href="{{ path('elevage_concour_modifier', {'id' : concour.idc }) }}">Modifier</a></div>
								<div class="btn_modif_concours"><a href="{{ path('elevage_concour_supprimer', {'id' : concour.idc }) }}">Supprimer</a></div>
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
	</div>
{% endblock body %}